rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function isSignedIn() {
      return request.auth != null;
    }

    function isAuthorizedAdmin() {
      return isSignedIn() &&
        request.auth.token.email in [
          "chadnuttall1@gmail.com",
          "chad@seasaba.com",
          "katy@seasaba.com",
          "knuttall05@gmail.com",
          "timschwenck@gmail.com"
        ];
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if isAuthorizedAdmin();
    }
  }
}
